body {
    background-color: #eef;
}

h1 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-top: 60px;
    line-height: 1.5;
}

.container {
    display: flex;
    justify-content: center;
    margin: auto
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.item-button {
    margin: 80px 50px 0;
}

button {
    height: 40px;
    width: 40px;
    font-size: 18px;
    border-radius: 50%;
    border: 3px #faa solid;
    font-weight: bold;
    color: #f50;
    background-color: #fff;
    text-align:center;
}

button:hover {
    background-color: #ffa;
}

select {
    width: 200px;
    height: 42px;
    font-size: 18px;
    padding: 0 30px;
    margin-bottom: 20px;
}

input {
    width: 192px;
    height: 38px;
    font-size: 18px;
    text-align: right;
}

#amountB {
    background-color: #ddd;
}

.footer {
    background-color: #ddd;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 25px 0;
    text-align: center;
}

@media screen and (max-width:575px) {
    h1 {
        font-size: 24px;
        margin-top: 25px;
    }
    .container{
        flex-direction: column;
    }
    .item {
        margin-top: 40px;
    }
    .item:nth-child(3){
        margin-top: 0;
    }
    .item-button {
        margin: 25px 0;
    }
    button {
        transform: rotate(0.25turn);
    }
    select{
        height: 35px;
        margin-bottom: 25px;
    }
    input{
        height: 30px;
    }
}
